<h5><%= @restaurant.name %></h5>
<ul>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.category.capitalize %></li>
</ul>

<h5>Reviews:</h5>
<ul>
  <% @reviews.each do |review| %>
    <li><%= "#{review.content} - #{review.rating}" %></li>
  <% end %>
</ul>

<h5>Add a review:</h5>
<%= render 'reviews/form' %>
<div class="backtolist-btn">
  <%= link_to "Back to List", restaurants_path, class: "btn btn-primary" %>
</div>
 